/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html{
    
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
}


a{
    color:#000;
}

a:hover{
    color:#000;
    text-decoration:none;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.search{
    height:90px;

    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
}

.hideMe{
    display:none;
}
.showMe{
    display:block;
}

.center{
    left:0;
    right:0;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
}

.recent{
    bottom:0;
    position:fixed;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}

.no-border{
    background:none;
    border:none;
    margin:0px;
    margin-top:0px;
    padding:10px;
    padding-left:0px;
    padding-right:2px;
    
}

.pad60{
    padding-top:55px;
}

.viewinfo{
    
    margin-bottom:10px;
}

.small{
    margin-bottom:3px;
}
#nav-search{
    height:34px;
    border-radius-top-left:5px;
    border-radius-bottom-left:3px;
}
.nav-search{
    padding-top:7px;
    max-width:59%;
    
}

.padtop10{
    padding-top:10px;
}

.media{
    
    background:rgba(248, 248, 248,1);
    border-radius:3px;
    margin-bottom:12px;
    margin-top:12px;
}

.friend{
    background:rgba(240, 240, 240,1);
    margin-bottom:20px;
}

.media-body{
    padding-left:10px;
    padding-top:5px;
    padding-right:10px;
}
.media > .pull-left {
    margin-right:0px;
}

.media-heading{
    font-size:15px;
    margin-bottom:10px;
}
.media-heading2{
    margin:0px;
    font-size:15px;
}

.media-footer{
    /*background:rgba(200, 255, 194, 1);*/
    font-size:12px;
    padding-left:10px;
    padding-right:10px;
    text-align:right;
    padding-bottom:3px;

}

.media-footer2{
    /*background:rgba(200, 255, 194, 1);*/
    font-size:12px;
    padding-left:10px;
    padding-right:10px;
    padding-top:8px;
    padding-bottom:3px;

}
.media-footer3{
    /*background:rgba(200, 255, 194, 1);*/
    font-size:12px;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:3px;

}

.media-footer2 .row{
    padding-bottom:7px;
}


.fees{
    padding-top:2px;
    font-size:12px;
    font-style:normal;
}

.doc-info{
    font-size:12px;
    padding-bottom:7px;
    line-height:22px;

}
.doc-info2{
    font-size:12px;
    padding-bottom:7px;
}

#docdetails{
    padding-top:5px;
}

.docdetails{
    margin-top:20px;
}

.addr{
    padding-top:10px;
}

.modal-content{
    padding:15px;    
}

.center-content{
    text-align:center;
}

#more img{
    width:100%;
}


.navbar-fixed-bottom{
    padding:5px;
    background:#abc;
}
.navbar-fixed-bottom .btn{
    border-radius:0px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
